@using Microsoft.AspNetCore.Authentication.Cookies;

<ul class="navbar-nav ms-auto">
    @if (User.Identity != null && User.Identity.IsAuthenticated && User.Identity.AuthenticationType == CookieAuthenticationDefaults.AuthenticationScheme)
    {
        @* The user is authenticated and the authentication type is CookieAuthenticationDefaults.AuthenticationScheme *@
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                 @* Add Antiforgery token for POST logout *@
                 @Html.AntiForgeryToken()
                <button type="submit" class="nav-link text-dark">LOGOUT</button>
            </form>
        </li>
    }
    else
    {
        @* The user is not authenticated *@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">LOGIN</a>
        </li>
    }
</ul>