<main role="main" class="pb-3 arctic-hero">
    <div class="arctic-banner">
        <h1 class="arctic-title">
            <span class="in-box">ARCTIC</span><br />
            <span class="outside-box">ATTITUDE</span>
        </h1>
    </div>

    <p class="arctic-slogan">
        Where penguin charm meets cool design.
    </p>

    <p class="arctic-subtitle">
        <em>North Waddle is an environmentally conscious company<br />
        that unites thoughtful design with the principles of nature.</em>
    </p>
</main>
