@model MerchStore.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center">
    <div class="col-md-6 py-5">
        <div class="card shadow">
            <div class="card-header color-primary-north">
                <h2 class="fs-4 mb-0">@ViewData["Title"]</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    @Html.AntiForgeryToken() <!-- lägg till detta manuellt -->

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="Username" class="form-label"></label>
                        <input asp-for="Username" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div>
                        <button type="submit" class="btn color-primary-north w-100">Log in</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-muted text-center">
                <small><i class="bi bi-info-circle"></i></small>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
